.cms-admin{
	position:fixed;
	top:0;
	right:0;
	width:30px;
	height: 40px;
	overflow:hidden;
	background-color: rgba(0,0,0,0.7);
    color: white;
    z-index: 9998;
	padding: 10px;
}

.cms-admin.extended{
	position:fixed;
	width:auto;
	height: 40px;
	background-color: rgba(0,0,0,0.7);
    color: white;
    z-index: 9998;
	padding: 10px;
}

.cms-admin > div, .cms-admin-content > div {
	display:inline-block;
	vertical-align:middle;
}

[data-content] {
	position:relative;
}

.cms-repeat-actions, .cms-new-content {
	position:absolute;
	z-index: 9999;
    width: auto;
	cursor:pointer;
	color: #eee;
	background-color: rgba(0, 0, 0, 0.8);
	font-size:1rem;
}

.cms-repeat-actions > div, .cms-new-content > div {
	display:inline-block;
	padding: 6px 6px;
	border-right: 1px solid rgba(255, 255, 255, 0.4);
}

.cms-repeat-actions > div:last-child, .cms-new-content > div:last-child {
	border-right: none;
}

.cms-notification {
	display:none;
	position:fixed;
	top: 15px;
	right: 15px;
	background-color: rgba(20,150,0,1);
    z-index: 10000;
	padding: 10px;
	color:white;
}

.cms-notification.error {
	background-color: rgba(150,20,20,1);
}

.cms-admin-handle{
	cursor:pointer;
	padding: 10px;
	font-weight:bold;
	margin: -10px;
}