<div class="cms-admin">
	<div class="cms-admin-content">
		<div class="actions">
			<button class="cms-admin-handle"><i class="fa fa-bars" aria-hidden="true"></i></button>
			<button class="cms-edit-metadata" title="Settings"><i class="fa fa-cog" aria-hidden="true"></i></button>
			<button class="cms-edit-page" title="Save"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
			<button class="cms-export-page" title="Export"><i class="fa fa-archive" aria-hidden="true"></i></button>
			<button class="cms-logout" title="Logout"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
		</div>
	</div>
	<div class="cms-admin-panel cms-admin-metadata">
		<form id="cms-metadata-form">
			<label for="cms-page-url">URL : </label>
			<input type="text" id="cms-page-url" name="url"/>
			
			<button type="submit">Save</button>
		</form>
	</div>
	<form enctype="multipart/form-data" id="cms_form_file" style="width:0px; height:0px; overflow:hidden">
		<input id="cms_image_upload" name="cms_image_upload" type="file" />
	</form>
</div>