.cms-admin{
	position:fixed;
	top:5px;
	right:5px;
    z-index: 10001;
}

.cms-admin.extended {
	position:fixed;
	height: auto;
	max-height: 400px;
	width:auto;
    color: white;
	overflow:visible;
}

.cms-admin-content{
	position:relative;
	right: 0;
	padding: 5px;
	opacity: 0;
	transition: 1s ease opacity;
}

.cms-admin-content.extended{
	opacity: 1;
	transition: 1s ease opacity;
}

.cms-admin-content .actions{
	position:relative;
}

.cms-admin .cms-action-wrapper{
    display: block;
	position:relative;
	transition: 0.7s ease background-color;
}

.cms-admin button.cms-actions-button {
    display: block;
	position:relative;
	border: 1px solid #888;
	border-radius: 50%;
	margin: 10px auto 0;
	min-width: 0;
	width:54px;
	height: 54px;
	overflow:hidden;
	background-color: #4C986D;
    color: white !important;
	padding: 10px;
	letter-spacing: 0;
	box-shadow: none;
	transition: 0.7s ease background-color;
}

.mce-btn button{
	min-width: 0;
	color: #333 !important;
}

.cms-admin button.cms-actions-button a {
    color: white;
	text-decoration:none;
}

.cms-admin button.cms-admin-handle{
	background-color: #477186;
	border-radius: 50%;
	text-align:center;
	margin-top: 0px;
    color: white;
    z-index: 9998;
	padding: 10px;
}

.cms-admin button.cms-actions-button:hover{
	cursor:pointer;
	box-shadow: 0px 0px 4px #aaa;	
	background-color: #3C885D;
	transition: 0.7s ease background-color;
}

.cms-admin button.cms-admin-handle:hover{
	background-color: #376176;
}

.cms-admin button.cms-actions-button:active, .cms-admin button.cms-actions-button:focus{
	outline:none;
}

.cms-admin button.cms-actions-button > i{
	font-size:16px;
}

.cms-admin-panel{
	position:absolute;
	right: 70px;
	top: 0px;
	min-width: 200px;
	padding: 10px;
	background-color: #333;
	border: 2px solid #FCE4A6;
	border-radius: 10px;
	opacity: 0;
	display: none;
	transition: 0.5s ease opacity;
}

.cms-admin-panel input[type="text"]{
	padding: 5px;
	height: auto;
}

.cms-admin-panel .cms-submit-wrapper{
	text-align: right;
	margin-top: 10px;
}

.cms-admin-panel button[type="submit"]{
	right: 10px;
	bottom: 10px;
	padding: 5px 10px;
	border:none;
	background-color: #4C986D;
	cursor: pointer;
	width: auto;
    height: auto;
    min-width: 0;
}

.cms-admin-panel.extended{	
	display: block;
	opacity: 1;
	transition: 0.5s ease opacity;
}

[data-content] {
	position:relative;
}

.cms-repeat-actions, .cms-new-content {
	position:absolute;
	z-index: 9999;
    width: auto;
	cursor:pointer;
	color: #eee;
	background-color: rgba(0, 0, 0, 0.8);
	font-size:1rem;
}

.cms-repeat-actions > div, .cms-new-content > div {
	display:inline-block;
	padding: 0px 6px;
	border-right: 1px solid rgba(255, 255, 255, 0.4);
}

.cms-repeat-actions > div:last-child, .cms-new-content > div:last-child {
	border-right: none;
}

.cms-notification {
	display:none;
	position:fixed;
	top: 15px;
	left: 15px;
	background-color: rgba(20,150,0,1);
    z-index: 10000;
	padding: 10px;
	color:white;
}

.cms-notification.error {
	background-color: rgba(150,20,20,1);
}

.cms-creatable{
	border: 1px dashed #ccc;
}